.form__input {
  transition: background-color 0.1s ease-in;
  background-color: rgba($white, $alpha: 0.2);
  text-align: center;
  height: 50px;
  padding: 12px;
  font-size: 14px;

  &::placeholder {
      color: $placeholder;
    }

  &:focus{
      background-color: rgba($white, $alpha: 0.3);
  }
}

.form__privacy {
  color:$privacy;
  text-align: center;
  font-size: 13px;
  line-height: 1.23;
}

.form__btn{
  text-align: center;
  transition: background-color 0.1s ease-in;
  color:$white;
  font-weight: 700;
  height: 50px;
  padding: 12px;
  background-color: $accent;

  &:hover{
    background-color: saturate($accent, 20);
  }
}